aiofiles==0.8.0
aiosqlite==0.17.0
Jinja2==3.1.2
sanic==22.6.2
sanic-jinja2==2022.1.13
sanic-session==0.8.0
ujson==5.4.0
uvloop==0.16.0
sanic-envconfig==1.3.4
secure==0.3.0
databases[asyncpg]==0.6.1
#databases[aiopg]==0.6.1
#databases[aiomysql]==0.6.1
#databases[asyncmy]==0.6.1
databases[aiosqlite]==0.6.1
asyncpg==0.26.0
furl
environs==9.5.0
