.nav-tabs .nav-link.active {
  color: white;
  border: 1px solid #007fff;
  /*background: linear-gradient(to bottom, rgb(0, 27, 36) 0%, rgb(131, 183, 199) 0%, rgb(82, 162, 177) 33%, rgb(0, 94, 138) 67%, rgb(0, 63, 87) 90%, rgb(0, 27, 36) 100%); */
  background: #007fff;
}

.nav-tabs .nav-link {
  color: white;
  /*background: linear-gradient(to bottom, rgb(0, 27, 36) 0%, rgb(131, 183, 199) 0%, rgb(82, 162, 177) 33%, rgb(0, 94, 138) 67%, rgb(0, 63, 87) 90%, rgb(0, 27, 36) 100%); */
  background: transparent;
}

.nav-tabs {
  border: 0;
}

.tab-content {
  height: calc(100% - 40px);
  border: 1px solid #007fff;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
