{% extends "layout.html" %}

{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" href="{{url('static', filename='css/mycharts.css')}}" type="text/css" />
  <style>
    #container {
      height: 100%;
      max-width: 100%;
      margin: 0 auto;
    }

    .highcharts-background {
      fill: transparent;
      stroke: #FFFFFF;
      stroke-width: 0;
    }
    .highcharts-title {
      /*stroke: #FFFFFF; */
      fill: #FFFFFF;
      font-weight: bold;
      letter-spacing: 0.3em;
      font-size: 3em;
    }
    .highcharts-subtitle {
      font-family: 'Courier New', monospace;
      font-style: italic;
      fill: #FFFFFF;
    }
    .highcharts-caption {
      font-family: 'Courier New', monospace;
      font-style: italic;
      fill: green;
    }
    .highcharts-xaxis-grid .highcharts-grid-line {
      stroke-width: 1px;
      stroke: #FFFFFF;
    }
    .highcharts-yaxis-grid .highcharts-grid-line {
      stroke-width: 1px;
      stroke: #FFFFFF;
    }
    .highcharts-xaxis .highcharts-tick {
      stroke-width: 1px;
      stroke: #FFFFFF;
    }
    .highcharts-minor-grid-line {
      stroke-dasharray: 2, 2;
    }
    .highcharts-axis-labels, .highcharts-axis-title {
      fill: #FFFFFF;
      color: #FFFFFF;
    }

  </style>
{% endblock %} 

{% block head_js %}
  {{ super() }}
{% endblock %} 

{% block main %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <div id="chartcontainer" style="height: 100%"></div>
{% endblock %} 

{% block tail_js %}
  {{ super() }}
  <script>
    Highcharts.setOptions({
    colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
    });

    document.addEventListener('DOMContentLoaded', function () {
    Highcharts.chart('chartcontainer', {
        chart: {
            type: 'line',
	    backgroundColor: 'transparent',
	    zoomType: 'xy'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: [0, 5, 4]
        }, {
            name: 'Jane',
            data: [1, 8, 4]
        }, {
            name: 'Jane',
            data: [1, 2, 4]
        }, {
            name: 'John',
            data: [5, 7, 3, 5, 6, 3, 5, 7]
        }],
    });
});
  </script>
{% endblock %} 
