{% extends "layout.html" %}

{% block head_css %}
    {{ super() }}
    <link href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css" rel="stylesheet" />
{% endblock %}

{% block head_js %}
    {{ super() }}
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
{% endblock %}


{% block main %}
    {{ super() }}
    <div id="search" style="height:20%;width:100%;">
      <form>
	<label for="nominatim_search">GeoSearch:</label>
	<input id="nominatim_search" type="text" method="POST"></input>
	<input type="submit" value="Submit">
      </form>
    </div>
    <div id="map" style="background-color:black;height:80%;width:100%;margin:0;padding:0;border:0;">
    </div>
{% endblock %}


{% block tail_js %}
    <script src="{{url('static', filename='js/addBaseMaps.js')}}"></script>
    <script>
      document.getElementById("map").style.zIndex = 1;
    </script>
{% endblock %}

