{% extends "layout.html" %}

{% macro gen_tabs(tabsdata) %}
<div style="height:100%;" role="tabpanel">
  <div style="display:flex;flex-direction:row;">
    <!-- Nav tabs -->
    <div class="nav nav-tabs" id="tabList" role="tablist" style="flex-grow:1;">
      {% for tabdata in tabsdata %}
        <a class="nav-item nav-link tabLink" data-toggle="tab" href="#{{ tabdata["name"] }}" role="tab">{{ tabdata["name"] }}</a>
      {% endfor %}
    </div>

    <button class="btn-primary action-btn" id="addTab">+</button>
  </div>

  <!-- Tab panes -->
  <div class="tab-content" id="tabPanels">
    {% for tabdata in tabsdata %}
      <div class="tab-pane tabPanel" id="{{ tabdata["name"]  }}" role="tabpanel" style="height:100%;width:100%;">
        {{ tabdata["content"] }}
      </div>
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% block main %}
  {{ gen_tabs(tabsdata) }}
{% endblock %}

{% block tail_js %}
  {{ super() }}
  <script>
    $('#tablist a').on('click', function (event) {
      event.preventDefault()
      $(this).tab('show')
    })

    function createElementFromHTML(htmlString) {
      var div = document.createElement('div');
      div.innerHTML = htmlString.trim();

      // Change this to div.childNodes to support multiple top-level nodes.
      return div.firstChild;
    }

    function addTab(tabId=null, paneHtml=null) {

      //if (tabId === null) {
      tabId = 'tab_' + String(document.getElementById('tabList').children.length + 1);
      //}
      console.log(tabId);

      var linkhtml = '<a class="nav-item nav-link tabLink" data-toggle="tab" href="#' + String(tabId) + '" role="tab">' + tabId + '</a>';
      if (paneHtml === null) {
        paneHtml = '<div class="tab-pane tabPanel" id="' + String(tabId) + '" role="tabpanel"></div>';
      }
      document.getElementById('tabList').appendChild(createElementFromHTML(linkhtml));
      document.getElementById('tabPanels').appendChild(createElementFromHTML(paneHtml));
      $(document.getElementById('tabList').lastChild).tab('show');

    }

    document.getElementById('addTab').addEventListener('click', addTab);
  </script>
{% endblock %} 
