{% extends "layout.html" %}

{% block main %}
<div style="height:100%;" role="tabpanel">
  <!-- Nav tabs -->
  <div class="nav nav-tabs" id="myTab" role="tablist">
    <a class="nav-item nav-link active" data-toggle="tab" href="#home" role="tab">Home</a>
    <a class="nav-item nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a>
    <a class="nav-item nav-link" data-toggle="tab" href="#messages" role="tab">Messages</a>
    <a class="nav-item nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">...</div>
    <div class="tab-pane" id="profile" role="tabpanel">.....</div>
    <div class="tab-pane" id="messages" role="tabpanel">...</div>
    <div class="tab-pane" id="settings" role="tabpanel">...</div>
  </div>
</div>
{% endblock %} 

{% block tail_js %}
  {{ super() }}
  <script>
    $('#myTab a').on('click', function (event) {
      event.preventDefault()
      $(this).tab('show')
    })
  </script>
{% endblock %} 
