{% extends "layout.html" %}

{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" href="{{url('static', filename='css/table.css')}}" type="text/css" />
{% endblock %}

{% block main %}
  <div style="display:flex;">
    <h2>
      <i class="fa fa-user" aria-hidden="true"></i>
      {{ rows['login'] }}
    </h2>
    <button
        class="btn btn-outline-warning action-btn"
        data-toggle="modal"
        data-target="#editModal"
    >
      <i class="fas fa-pencil-alt"></i>
    </button>
  </div>

  {{ lib.key_value_table(rows=rows) }}

  <div id="editModal" class="modal fade">
    <div class="modal-dialog modal-edit">
      <div class="modal-content">
        <form action="/post" method="post">
          <div class="modal-header">
            <h4 class="modal-title">Login</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            {{ lib.create_form(data=data) }}
          </div>
          <div class="modal-footer justify-content-between">
            <button class="btn btn-primary" type="submit">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
