<!DOCTYPE html>
<html lang="en">
  <head>

  {% block head_meta %}
    {% if app_title %}
      <title>{{ app_title }}</title>
    {% else %}
      <title>aiowebapp</title>
    {% endif %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  {% endblock %}

  {% block head_css %}
    <!-- font-awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <!-- bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <!-- select2-bootstrap4-theme -->
    <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet" />

    <!-- My Stylesheets -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/tabs.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/modal.css')}}" type="text/css" />

    <!-- My select2 -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/select2.css')}}" type="text/css" />
  {% endblock %}

  {% block head_js %}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.full.min.js"></script>
  {% endblock %}

  </head>
  <body>

  {% block body %}
    {{ body }}
  {% endblock %}

  {% block tail_js %}
    <!-- init select2 -->
    <script src="{{url_for('static', filename='js/initselect2.js')}}"></script>
  {% endblock %}

  </body>
</html>
