.modal-content {
  background-color: black;
  border: 3px solid royalblue;
}

.modal-header {
  border: 1px solid royalblue;
}

.modal-header .close {
    color: white;
    border: 0px solid white;
    margin-top: 3px;
    margin-bottom: 3px;
    opacity: 0.75;
}

.modal-header .close {
  opacity: 1;
}

.modal-footer {
  border-top: 1px solid royalblue;
}

.form-control {
  background-color: #111;
  color: white;
  border: 1px solid royalblue;
  border-radius: 10px;
}

.form-control:focus {
  background-color: #111;
  color: white;
  border: 2px solid royalblue;
}

.modal-header-success {
  color: white;
  border: 1px solid white;
  background: linear-gradient(to bottom, #002400 0%,#83c783 0%,#52b152 33%,#008a00 67%,#005700 99%,#002400 100%);
}

.modal-footer-success, .modal-content-success {
  color: white;
  border: 1px solid white;
  background: black;
}

