tr:nth-child(even) {
  background-color: #274762;
  color: white;
}

tr:nth-child(odd) {
  color: white;
}


.table-hover tbody tr:hover {
  color: white;
  border: 2px solid #274762;
  border-radius: 20px;
  background-color: inherit;
}


thead {
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(100, 100, 100) 10%, rgb(55, 55, 55) 20%, rgb(11, 11, 11) 90%, rgb(0, 0, 0) 100%);
  border: 0;
}


table, tbody {
  border: 1px solid royalblue;
  border-radius: 14px;
}

.table td, .table th {
  padding: 7px;
  border: 1px solid transparent;
}

.btn-link {
  width: 100%;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  text-align: left;
}

.btn-link:hover {
  text-decoration: underline;
  color: white;
}

.card-header {
  background: linear-gradient(to bottom, rgb(0, 27, 36) 0%, rgb(82, 162, 177) 33%, rgb(0, 94, 138) 67%, rgb(0, 63, 87) 90%, rgb(0, 27, 36) 100%);

  border: 0px solid white;
  padding: 2px;
}

.card-body {
  background-color: black;
  border: 0px solid white;
  padding: 0px;
}

.card {
  border: 0px solid white;
}
